{
  "env": {
    "production": {
      "presets": [
        "react",
        "react-optimize",
        "es2015-rollup",
        [
          "env", {
            "debug": true,
            "modules": false,
            "useBuiltIns": true,
            "loose": true,
            "exclude": [
              "transform-regenerator",
              "es6.number.is-finite",
              "es6.number.is-integer",
              "es6.number.is-safe-integer",
              "es6.number.is-nan",
              "es6.number.epsilon",
              "es6.number.min-safe-integer",
              "es6.number.max-safe-integer",
              "es6.math.acosh",
              "es6.math.asinh",
              "es6.math.atanh",
              "es6.math.cbrt",
              "es6.math.clz32",
              "es6.math.cosh",
              "es6.math.expm1",
              "es6.math.fround",
              "es6.math.hypot",
              "es6.math.imul",
              "es6.math.log1p",
              "es6.math.log10",
              "es6.math.log2",
              "es6.math.sign",
              "es6.math.sinh",
              "es6.math.tanh",
              "es6.math.trunc",
              "es6.typed.data-view",
              "es6.typed.int8-array",
              "es6.typed.uint8-array",
              "es6.typed.uint8-clamped-array",
              "es6.typed.int16-array",
              "es6.typed.uint16-array",
              "es6.typed.int32-array",
              "es6.typed.uint32-array",
              "es6.typed.float32-array",
              "es6.typed.float64-array",
              "es6.array.iterator",
              "es6.array.copy-within",
              "es6.regexp.flags",
              "es6.regexp.search",
              "es6.weak-set"
            ],
            "targets": {
              "browsers": "defaults"
            }
          }
        ],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]
    },
    "commonjs": {
      "presets": [
        "react",
        "react-optimize",
        [
          "env", {
            "debug": true,
            "loose": true,
            "targets": {
              "browsers": "> 1%"
            },
            "modules": "commonjs"
          }
        ],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]
    },
    "es": {
      "presets": [
        "react",
        "react-optimize",
        [
          "env", {
            "debug": true,
            "modules": false,
            "loose": true,
            "targets": {
              "browsers": "> 1%"
            },
          }
        ],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]
    },
    "development": {
      "presets": [
        [
          "react",
          "env", {
            "debug": false,
            "modules": false,
            "useBuiltIns": true,
            "targets": {
              "browsers": ["chrome >= 56"]
            }
          }
        ],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]
    },
    "cli": {
      "presets": ["react", "env", "stage-0"],
      "plugins": ["transform-decorators-legacy"]
    }
  }
}
